@media all and (min-width: $bp-med) {
	#playroom-home .gr {
		margin-top: 6.5em;
	}
}

#playroom-home .gr__item {
	
	transition: background 300ms ease-in-out;
	
	&.pinterest, &.instagram {
		padding: 0;
	}
	&.twitter, &.regular, &.large {
		background-color: $lightest-grey;
	}
	&.x-large {
		background-color: $faded-purple-2;
		color: $white;
	}
	
	&.twitter .text {
		color: $darkest-grey;
		font-size: $font-size-small;
	}
	&.regular .text, &.large .text, &.x-large .text {
		color: $black;
		line-height: 1.5em;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: $letter-spacing;
	}	
	&.x-large .text {
		color: $white;
	}
	
	
	& time {
		font-size: $font-size-small;
	}
}
@media all and (min-width: $bp-med) {
	#playroom-home .gr__item {
		&.large {
			width: 610px;
		}
		&.x-large {
			width: 610px;
			height: 610px;		
		}
		
		&.large .text, &.x-large .text {
			font-size: $font-size-larger;
			line-height: 1.3;
			font-weight: 300;
			text-transform: none;
			letter-spacing: 0;
		}
	}
}

#playroom-home .gr__item img {
	transition: 300ms ease-in-out;
}
#playroom-home .gr a {
	text-decoration: none;
}


#playroom-home a:hover .gr__item {
	background: $purple !important;
}
#playroom-home a:hover .gr__item .text {
	color: $white !important;
}
#playroom-home a:hover .gr__item time {
	color: $white !important;
}
#playroom-home a:hover .gr__item img {
	opacity: 0.5;
}


#playroom-nav a {
	display: block;
	width: 100%;
	background: $lightest-grey;
	color: $darkest-grey;
	padding: $pad;
	text-align: center;
	text-decoration: none;
	
	&:hover {
		background: $darkest-grey;
		color: $white;
	}
}

/* Social */

.post__social .fb-like {
	top: -6px;
	position: relative;
}


/* Infinite scroll */

#infscr-loading {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	padding-top: 20px;
	line-height: 30px;
	background: $faded-white;
	text-align: center;
	font-size: $font-size-small;
	text-transform: uppercase;
	letter-spacing: $letter-spacing;
}



/* Magnific Popup CSS */

.popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 680px;
  margin: 20px auto;
}

#playroom-post {
	background: $faded-black;
}