[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
	content: "\e600";
}
.icon-checkmark:before {
	content: "\e601";
}
.icon-cross:before {
	content: "\e602";
}
.icon-minus:before {
	content: "\e603";
}
.icon-plus:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e605";
}
.icon-arrow-up:before {
	content: "\e606";
}
