.animate-fade {
	transition: 0.25s ease-in;
}

.animate-rotate {
	transition: transform 0.4s ease-out;
	
	&:hover {
		transform: rotateZ(360deg);
	}
}

.animate-fade-rotate {
	transition: background-color 0.25s ease-in, transform 0.4s ease-out;
	
	&:hover {
		transform: rotateZ(360deg);
	}
}